.header{
    width:100vw;
    height: 3rem;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2d3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    border-bottom: none;
}

.router{
    margin: 1px;
}

.login {    
    position: absolute;
    right: 37px;
    padding: 0.5em;
    text-align: center;
}
.login:hover {    
    color:#d1d1d1;
}
.title{
    position: absolute;
    left: 5px;
    padding: 0.5em;
}
.cartIcon{
    position: absolute;
    right: 5px;
    padding: 0.5em;
}
