<div class=categories>
  <h2 *ngIf=categories>
    Podkategorie:
  </h2>
  <div class=category *ngFor="let category of categories" (click)=onCategoryClick(category.id)>
    {{category.name}}
  </div>
</div>
<div class=products>
  <h2>
    Produkty:
  </h2>
  <div class="header">
    <span class=name>nazwa</span> <span class=price>cena</span>
  </div>
  <div class="product" *ngFor="let product of products" (click)=onProductClick(product.id)>
    <span class=name>{{product.name}}</span> <span class=price>{{product.price}}</span>
  </div>
</div>